<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Sistema de control Vacunaciones - Inicio</title>
<link rel="stylesheet" type="text/css" href="../stylesheet/home.css">
<link rel="shortcut icon" type="image/png" href="../images/VACCINATIONCONTROLSYSTEM7.png">
</head>
    <body>
<center><div class="header_">
    <div class="divLeft">
        <h2 id="titleMain">Sistema de control vacunaciones</h2>
    </div>
    <div class="divRight">
        <img src="../images/VACCINATIONCONTROLSYSTEM7.png" alt="Logo_header_vc" id="logoHeaderR">
    </div> 
</div>
<!--  Acceso a diferentes funciones CRUD -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section id="AccesosFunciones" style="display: flex; padding-left:100px;">
<div class="funciones" style="display:flex; padding:35px 0;">
<div class="boxFunctions">
    <center><img src="../images/Rectangle 64.jpg" alt="iniciarSesion1" style="padding-top: 15px;" id="imgFunctions_">
        <a href="#" target="_parent" id="linkA">
        <div class="nombreFuncion">
        <h4 id="tipoF">Iniciar sesión</h4> 
    </div>
    </a>   
</div>
<div class="boxFunctions">
    <center><img src="../images/Rectangle 65.jpg" alt="iniciarSesion1" style="padding-top: 15px;" id="imgFunctions_">
        <a href="../View/RegistrarUsuario.html" target="_parent" id="linkA">
        <div class="nombreFuncion">    
    <h4 id="tipoF">Registrar usuario</h4>
    </div>
    </a>    
</div>
<div class="boxFunctions">
    <center><img src="../images/Rectangle 66.jpg" alt="iniciarSesion1" style="padding-top: 15px;" id="imgFunctions_">
        <a href="RegistrarPaciente.html" target="_parent" id="linkA">
        <div class="nombreFuncion">    
        <h4 id="tipoF">Registrar paciente</h4>
        </div>   
        </a> 
</div>
</div>
</section>
<section id="AccesosFunciones" style="display:flex;padding-left:280px;bottom: 25px;">
    <div class="funciones" style="display:flex; padding:35px 0;">
            <div class="boxFunctions_">
            <center><img src="../images/Rectangle 67.jpg" alt="iniciarSesion1" style="padding-top: 15px;width: 520px;height: 400px;border-radius: 50px 50px 0px 50px;">
                <a href="#" target="_parent" id="linkA">
                <div style="position: relative;bottom: 35px;left: 2px;">
            <h4 id="tipoF">Actualizar datos</h4>
            </div>
        </a>   
        </div>
        <div class="boxFunctions_">
            <center><img src="../images/Rectangle 68.jpg" alt="iniciarSesion1" style="padding-top: 15px;" id="imgFunctions_">
                <a href="#" target="_parent" id="linkA">
                <div class="nombreFuncion">
                <h4 id="tipoF">Consultar o eliminar paciente</h4> 
            </div>
        </a>   
        </div>
        </div>
</section>
<footer id="footerh"> 
<center><table border="0">
    <tbody>
    <tr>
     <td colspan="3">
        <h5 style="color:lightslategray;font-size: 30px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">Sobre nosotros</h5>
     </td>
     <td><br></td>
     <td><br></td>
    </tr>
    <tr>
        <br>
    </tr>
    <tr>
        <td colspan="3">
     <h4 style="color:#FBFCFF;font-size: 20px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">Integrantes</h4>
        </td>
    </tr>
    <tr>
       <td colspan="2" style="color:#6e8bff;font-size: 18px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">
        Juan Esteban Alarcón Miranda <br>
        Camila Andrea Díaz Mojica <br>
        María José Clavijo  <br>
        Sebastián Medina
       </td> 
       <td>
           <br>
       </td>
       <td>
           <br>
       </td>
    </tr>
    </tbody>
 <tfoot>    
  <td colspan="3" style="color:slategrey;font-size: 18px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">
&copy; 2021 RunTech
  </td>
 </tfoot>
</table>
</footer>
    </body>
</html>