<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
	    <title>Iniciar Sesión</title>
	    <link rel="stylesheet" type="text/css" href="../stylesheet/IniciarSesion.css">
	    <link rel="shortcut icon" type="image/png" href="../images/VACCINATIONCONTROLSYSTEM7.png">
    </head>
    <body>

        <center>
        
      
      <section id="container" style="display:flex;width:100%;height:750px;">
        <img src="../images/vtf-icon-vaccine-mask.png" style="position: relative; width:500px;height:500px;">
        <div class="Logo">
            <a href="../View/index.html" target="_parent" style="text-decoration: none;"><img src="../images/VACCINATIONCONTROLSYSTEM7.png" style="position: relative;width:185px"></a>
        </div>
        <section id="formularioContainer" style="position: relative;right:280px;top:150px;">
            <form action="#" name="formLogIn" id="logInForm">
                <h2>Iniciar Sesión</h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <input type="email" placeholder="Usuario" class="Entrada">
                <br>
                <br>
                <br>
                <input type="password" placeholder="Contraseña" minlength="8" class="Entrada">
                <br>
                <br>
                <br>
                <a href="#" style="text-decoration:none" class="Enlace" >¿Olvidaste tu contraseña?</a>   
                <br>
                <br >
                <button class="Click" action="#">Iniciar Sesión</button>
             </form>    
        </section>
    </section>
        </center>
    </body>
    <footer id="footerh" style="background-color: #434343;"> 
        <center><table border="0">
            <tbody>
            <tr>
             <td colspan="3">
                <h5 style="color:lightslategray;font-size: 30px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">Sobre nosotros</h5>
             </td>
             <td><br></td>
             <td><br></td>
            </tr>
            <tr>
                <br>
            </tr>
            <tr>
                <td colspan="3">
             <h4 style="color:#FBFCFF;font-size: 20px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">Integrantes</h4>
                </td>
            </tr>
            <tr>
               <td colspan="2" style="color:#6e8bff;font-size: 18px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">
                Juan Esteban Alarcón Miranda <br>
                Camila Andrea Díaz Mojica <br>
                María José Clavijo  <br>
                Sebastián Medina
               </td> 
               <td>
                   <br>
               </td>
               <td>
                   <br>
               </td>
            </tr>
            </tbody>
         <tfoot>    
          <td colspan="3" style="color:slategrey;font-size: 18px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">
        &copy; 2021 RunTech
          </td>
         </tfoot>
        </table>
        </footer>
      
</html>