<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Registrar paciente</title>
        <link rel="stylesheet" type="text/css" href="../stylesheet/regPaciente.css">
        <link rel="shortcut icon" type="image/png" href="../images/VACCINATIONCONTROLSYSTEM7.png">
        </head>
        <body>
            <center> <div class="header_">
                <div class="divLeft">
                   <a href="index.html" target="_parent" style="text-decoration: none;"><img src="../images/VACCINATIONCONTROLSYSTEM7.png" alt="Logo_header_vc" id="logoHeaderR" align="right"></a> 
                    <h2 id="titleMain">Registro pacientes</h2>
                </div>
            </div>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br> 
           <br>
           <br>
           <br>
                 <!-- Sección registro   -->
                 <div class="boxFormUno">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <center><form  id="Regform" action="/action_page.php">
                     <br>
                     <br>
                   <table border="0">
                   <tr>
                       <td>
                        <div class="input-container">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="nombres" id="lbls">Nombre (s):</label><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-field" type="text" placeholder="Nombre (s) del paciente" name="nombres" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           </div>
                           
                       </td>
                       
                       <td>
                        <div class="input-container">
                            &nbsp;&nbsp;&nbsp;<label for="apellidos" id="lbls">Apellido (s):</label><br>          
                            <input class="input-field" type="text" placeholder="Apellido (s) del paciente" name="apellidos" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           </div>
                       </td>
                   </tr>
                   <tr>
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="identificacion" id="lbls">No. Identificación:</label><br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-field" type="number" placeholder="Número de Documento" name="identificacion" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td> 
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;<label for="tipoDoc" id="lbls">Tipo de documento:</label><br>          
                    <select name="tipoDoc" class="input-field" required>
                    <option value="Seleccionar..." selected>Seleccionar...</option>
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="CE">Cédula de Extranjería</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="pais" id="lbls">País:</label><br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-field" type="text" placeholder="País..." name="pais" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        
                    </td>
                    
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;<label for="departamento" id="lbls">Departamento:</label><br>          
                         <input class="input-field" type="text" placeholder="Departamento..." name="departamento" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="ciudad" id="lbls">Ciudad:</label><br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-field" type="text" placeholder="Ciudad..." name="ciudad" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td> 
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;<label for="tipoFarma" id="lbls">Farmacéutica:</label><br>          
                    <select name="tipoFarma" class="input-field" required>
                    <option value="Seleccionar..." selected>Seleccionar...</option>
                    <option value="Pfizer">Pfizer</option>
                    <option value="SinoVac">Sinovac</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Janssen J&J">Janssen J&J</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="dosis" id="lbls">Cantidad dosis:</label><br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="dosis" class="input-field" required>
                    <option value="Seleccionar..." selected>Seleccionar...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td> 
                    <td>
                     <div class="input-container">
                         &nbsp;&nbsp;&nbsp;<label for="fechaNa" id="lbls">Fecha de naciemiento:</label><br>          
                         <input class="input-field" type="date" placeholder="fecha nacimiento..." name="fechaNa" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="input-container">
                            &nbsp;&nbsp;&nbsp;&nbsp; <label for="pVac" id="lbls">Puesto de vacunación:</label><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-field" type="text" placeholder="Puesto de vacunación..." name="pVac" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                            <button type="submit" style="padding:15px 30px;background-color: #10B4B7; color:white; font-family: Yaldevi Colombo SemiBold Regular;font-size: 30px; border-radius: 50px;border:0;">REGISTRAR</button>
                    </td>
                </tr>
                   </table>
                 </form>
                    <img src="../images/VaccineCard.jpeg" alt="" id="formImg" align="right">
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 </div>

        </body>
        <footer id="footerh"> 
            <center><table border="0">
                <tbody>
                <tr>
                 <td colspan="3">
                    <h5 style="color:lightslategray;font-size: 30px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">Sobre nosotros</h5>
                 </td>
                 <td><br></td>
                 <td><br></td>
                </tr>
                <tr>
                    <br>
                </tr>
                <tr>
                    <td colspan="3">
                 <h4 style="color:#FBFCFF;font-size: 20px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">Integrantes</h4>
                    </td>
                </tr>
                <tr>
                   <td colspan="2" style="color:#6e8bff;font-size: 18px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">
                    Juan Esteban Alarcón Miranda <br>
                    Camila Andrea Díaz Mojica <br>
                    María José Clavijo  <br>
                    Sebastián Medina
                   </td> 
                   <td>
                       <br>
                   </td>
                   <td>
                       <br>
                   </td>
                </tr>
                </tbody>
             <tfoot>    
              <td colspan="3" style="color:slategrey;font-size: 18px;font-family: Yaldevi Colombo SemiBold Regular;text-align: center;">
            &copy; 2021 RunTech
              </td>
             </tfoot>
            </table>
            </footer>
</html>