* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: 'Yaldevi Colombo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Yaldevi Colombo Regular'), url('../YaldeviColombo_fonts/YaldeviColombo-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Yaldevi Colombo Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Yaldevi Colombo Bold'), url('../YaldeviColombo_fonts/YYaldeviColombo-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Yaldevi Colombo ExtraLight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Yaldevi Colombo ExtraLight Regular'), url('../YaldeviColombo_fonts/YaldeviColombo-ExtraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Yaldevi Colombo Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Yaldevi Colombo Light Regular'), url('../YaldeviColombo_fonts/YaldeviColombo-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Yaldevi Colombo Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Yaldevi Colombo Medium Regular'), url('../YaldeviColombo_fonts/YaldeviColombo-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Yaldevi Colombo SemiBold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Yaldevi Colombo SemiBold Regular'), url('../YaldeviColombo_fonts/YaldeviColombo-SemiBold.woff') format('woff');
    }

body {
background-image: url("../images/61803.jpg");    
background-repeat: no-repeat;
background-size: 100%;
}

.ImageMain{
    float: left;
    position: fixed;
    right: 650px;
}

.Logo{
    position: relative;
    left:340px;
    right:695px;
    top:10px;
    bottom:20px;
}

h2{
    position: relative;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 350px;
    width: 350px;
    background-color: #dcecf8;
    border-radius: 100px;
    color:#11dada;
    font-size: 40px;
    text-align: center;
    font-family:"Yaldevi Colombo SemiBold Regular";
}

.Entrada{
    position: relative;
    width: 325px;
    background: white;
    padding: 10px;
    border-radius: 50px;
    border: 0px;
    height: 20px;
    font-family:Yaldevi Colombo Regular;
    color: #001eff;
    font-size: 25px;
    font-weight: 500px;
    text-align: center;
    top: -100px;
    left: 350px;
    padding-right: 10px;
}

.Enlace{
    position: relative;
    left: 350px;
    top: -110px;
    color: rgb(29, 168, 150);
}

.Click{
    position: relative;
    width: 200px;
    background: rgb(29, 168, 150);
    border-radius: 50px;
    border: 0px;
    height: 45px;
    font-family: Yaldevi Colombo SemiBold Regular;
    color: white;
    font-size: 25px;
    text-align: center;
    bottom: 100px;
    left: 350px;
}